@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans|Raleway&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}
.example_d {
  color: #343a40 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 10px;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  }
  .example_d:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
    }
#seachBtn {
    display: block;
    margin: 20px 50px 20px 100px;
    border-radius: 10px;
    padding: 20px;
}

.btnn{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;

}

#logo {
    color: red;
}

#country, #jlist {
    border-radius: 10px;
    padding: 10px;
}

nav {
    font-family: 'Raleway', sans-serif;
}

.calna {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}



.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-image: url(https://www.web-dream.fr/app/wp-content/uploads/2014/12/tick.png);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #dcdcdc;
  font-family: 'Roboto', sans-serif; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-muted {
  color: #777; }

.cursor-pointer {
  cursor: pointer; }

.disable-selection {
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/ }

.calendar, .calendar .add-event-day .add-event-day-field-btn, .calendar .calendar-days li:after {
 
  margin: auto; }

.calendar {
  background: white;
  width: 1200px;
  height: 800px;
  border-radius: 0px;
  overflow: hidden; }
  .calendar .calendar-left-side-day-of-week, .calendar .current-day-events ul, .calendar .add-event-day, .calendar .calendar-change-year, .calendar .calendar-days li {
    position: relative; }
  .calendar .calendar-left-side-day, .calendar .calendar-left-side-day-of-week, .calendar .current-day-events, .calendar .add-event-day-field-btn, .calendar .add-event-day-field {
    color: white; }
  .calendar .calendar-left-side-day-of-week, .calendar .calendar-week {
    text-transform: uppercase; }
  .calendar .right-side, .calendar .left-side {
    padding: 30px;
    height: 100%; 
  
  }
  .calendar .left-side {
    width: 550px;
    background: #343a40;
    float: left; }
  .calendar .current-day, .calendar .current-day-events {
    padding-top: 40px; }
  .calendar .current-day-events {
    height: 215px; }
  .calendar .current-day-events ul {
    padding-left: 30px;
    list-style: none; }
    .calendar .current-day-events ul li::before {
      content: '-';
      position: absolute;
      left: 3px; }
  .calendar h1.calendar-left-side-day {
    font-size: 92px; }
  .calendar .add-event-day {
     }
    .calendar .add-event-day .add-event-day-field {
      border: none;
      background: transparent;
      height: 34px;
      width: 100%;
      font-size: 16px;
      padding-right: 30px; }
    .calendar .add-event-day .add-event-day-field:focus {
      outline: none; }
    .calendar .add-event-day .add-event-day-field::placeholder {
      color: #ccc; }
    .calendar .add-event-day .add-event-day-field-btn {
      left: inherit;
      line-height: 34px; }
  .calendar .right-side {
    width: 520px;
    float: right; }
  .calendar .calendar-change-year {
    font-size: 20px; }
    .calendar .calendar-change-year .calendar-change-year-slider {
      margin: 15px 0;
      color: #737373; }
    .calendar .calendar-change-year .calendar-change-year-slider .fa:hover {
      color: #404040; }
  .calendar .calendar-days, .calendar .calendar-week, .calendar .calendar-month {
    list-style: none;
    font-size: 0; }
    .calendar .calendar-days li, .calendar .calendar-week li, .calendar .calendar-month li {
      display: inline-block;
      text-align: center;
      cursor: pointer;
      font-size: 16px; }
  .calendar .calendar-month li {
    width: calc(460px / 12);
    height: 30px;
    line-height: 30px;
    color: #868686;
    font-size: 13px; }
    .calendar .calendar-month li.active {
      color: #171717;
      font-weight: 600; }
  .calendar .calendar-days li {
    width: calc(460px / 7);
    height: 50px;
    line-height: 50px; }
    .calendar .calendar-days li:after {
      content: attr(data-day);
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: #959595; }
    .calendar .calendar-days li.another-month:after {
      color: #ccc; }
    .calendar .calendar-days li:hover:after, .calendar .calendar-days li.selected-day:after, .calendar .calendar-days li.event-day:before, .calendar .calendar-days li.active-day:after {
      border-radius: 50%; }
    .calendar .calendar-days li:hover:after, .calendar .calendar-days li.selected-day:after {
      background: #ccc;
      color: white; }
    .calendar .calendar-days li.event-day:before {
      content: ' ';
      width: 5px;
      height: 5px;
      position: absolute;
      top: 7px;
      right: 7px;
      background: #1400c7; }
    .calendar .calendar-days li.active-day:after {
      color: white;
      background: #333232; }
  .calendar .calendar-week {
    margin-bottom: 30px;
    font-weight: 600;
    color: #737373;
    border-top: 1px solid #ccc; }
    .calendar .calendar-week li {
      width: calc(460px / 7);
      height: 30px;
      line-height: 30px; }
      
section{
  padding-left: 8%;
}
      div.gfg { 
        margin:5px; 
        padding:5px; 
        background-color: rgb(255, 255, 255); 
        width: 400px; 
        height: 400px; 
        overflow: auto; 
        text-align:justify; 
    } 
    footer{
      background-color: #494949;
    }
    .filterDiv {
      float: left;
      background-color: #2196F3;
      color: #ffffff;
      width: 100px;
      line-height: 100px;
      text-align: center;
      margin: 2px;
      display: none;
    }

    .show {
  display: block;
}